* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:'Times New Roman', Times, serif;
  cursor:none;
}
[type=button]:not(:disabled), [type=reset]:not(:disabled), [type=submit]:not(:disabled), button:not(:disabled) {
  cursor: none;
}
body {
  overflow: hidden;
}
#pointer {
  position: absolute;
  z-index: 9999;
  transform: scale(0.8) rotateY(180deg);

  /* margin-left: -5px;
  margin-top: -15px; */
}
#win3Logo {
  transform: scale(2.2);
}
#win10Img, #win11Img {
  transform: scale(0.7);
}
#win7Img {
  transform: scale(0.8);
}
#winXPImg {
  transform: scale(0.9);
}
.modal-body a {
  transition: 300ms;
  border-radius: 5px;
}
.modal-body a:hover {
  box-shadow: 0 0 5px 0 gray;
}
.contact {
  padding: 5px;
}

#phone, #email, #github, #linkedin {
  top: 78px;
  left: 211px
}
#email {
  left: 325.5px;
}
#linkedin {
  left: 436px;
}
#github {
  left: 548px;
}
#Win1Window, #firstCode {
  width: 310px;
  height: 160px;
  position: absolute;
  border: 10px solid rgb(255, 255, 255);
  background-color: white;
  top: 86px;
  left: 128px;
}
#firstCode {
    width: 250px;
    height: 90px;
    border: 2px solid rgb(255, 255, 255);
    line-height: 1.1;
    top: 240px;
    left: 442px;
}
#firstCode span {
  font-family:'Courier New', Courier, monospace
}
.modal-dialog-scrollable .modal-body {
  overflow: hidden;
}
.divBtns {
  margin: 0 auto;
  display: flex;
  position: absolute;
  top: 50%;
}
.btn {
  cursor: none;
  border: none;
  width: 100px;
}
.btn1 {
  cursor: none;
  border: none;
  position: absolute;
}
.show {
  transition: 100ms;
}

.imgLogo, .vista {
  width: 50px;
  position: absolute;
  z-index: 0;
  border: none;
  top: 0;
  transition: 500ms;
  opacity: 1;
  transform: scale(1.4);
}
.spanBottom, .spanTop {
  font-size: 16px;
  position: absolute;
  top: 40px;
  text-align: center;
  width: 100px;
  margin-top: -10px;
  margin-left: -25px;
  padding-top: 10px;
  z-index: -1;
  opacity: 0;
  transition: 300ms;
}
.spanTop {
  font-size: 18px;
  top: -15px;
  transition: 300ms;
  font-weight: 700;
}

.divHov:hover > .spanBottom {
  top: 60px;
  opacity: 1;
  display: inline;
  transition: 300ms;

}
.divHov:hover > .spanTop {
  top: -35px;
  opacity: 1;
  display: inline;
  transition: 300ms;

}
.vista {
  transform: scale(1.2);
  z-index: 1;
}
.logoBtn, #centerLogo {
  width: 50px;
  position: absolute;
  transition: 500ms;
  z-index: 1;
}
#centerLogo {
  width: 0;
  z-index: 1;
}
.hide {
  opacity: 0;
}
#logos {
  margin-top: 350px;
  margin-left: -50px;
  position: absolute;
  display: flex;
  transform: scale(0);
  justify-content: flex-end;
  transition: 300ms ease;
}
.h1 {
  margin: 25px auto;
  text-align: center;
}
code {
  font-size: 15px;
}
.textWin1 {
  text-align: start;
}
#firstCode {
  font-size: 14px;
}
#win3Img {
  transform: scale(0.55);
}
@keyframes circle {
  from {
    transform: scale(1.2) rotate(-180deg);
  }
  to {
    transform: scale(1.2) rotate(0deg);
  }
}
@keyframes unCircle {
  from {
    transform: scale(1.2) rotate(-180deg);
  }
  to {
    transform: scale(1.2) rotate(-360deg);
  }
}

/* .modal {
  width: 80%;
  margin: 0 auto;
} */
/* .modal-dialog {
  display: contents;
} */